{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Text Pushing {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="text">Text</label>
        <textarea type="text" name="text"
               placeholder="Post text" class="form-control"
               value="{{ request.form['text'] }}"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Next</button>
    </div>
</form>
{% endblock %}