{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Done! {% endblock %}</h1>

<h1>{% block subtitle %} Push Message Added Succesfully. {% endblock %}</h1>

<form method="post">

    <div class="form-group">
        <button type="submit" class="btn btn-primary">View Statistics</button>
    </div>
</form>
{% endblock %}