{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Welcome! {% endblock %}</h1>

<h1>{% block subtitle %} Here is the display of statistic. {% endblock %}</h1>

<body>
    <img src="file:///C:\Users\zty98\Documents\GitHub\Servbot_\templates\pie_chart.jpg" alt="Pie chart" />
</body>
{% endblock %}